<h3>Promena lozinke</h3>
<label [hidden]="show">Stara lozinka:</label><input type="password" [(ngModel)]="password" [hidden]="show"><button (click)="oldPassConfirm()" [hidden]="show">Potvrdi</button>

<br>

<div *ngIf="show">
    <label>Unesite novu lozinku:</label><input type="password" [(ngModel)]="newPass1" [hidden]="!show"> <br>
    <label>Potvrdite novu lozinku:</label><input type="password" [(ngModel)]="newPass2" [hidden]="!show"> <br>
    <button (click)="change()">Promeni</button>
</div>

<br>
<p>{{message}}</p>
