<div class="container mt-4">
    <h4>
        Aktuelne narudžbine
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id narudžbine</th>
                <th scope="col">Restoran</th>
                <th scope="col">Status</th>
                <th scope="col">Najkasnije vreme dostave</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of pendingOrders">
                <td>{{o.idO}}</td>
                <td>{{o.restaurant}}</td>
                <td>U obradi</td>
                <td>/</td>
            </tr>
            <tr *ngFor="let o2 of acceptedOrders">
                <td>{{o2.idO}}</td>
                <td>{{o2.restaurant}}</td>
                <td>Prihvaćena</td>
                <td>{{timeConversion(o2.deliveryTime)}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <h4>
        Arhiva dostava
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Datum i vreme dostave</th>
                <th scope="col">Restoran</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of archivedOrders">
                <td>{{o.idO}}</td>
                <td>{{timeConversion(o.deliveryTime)}}</td>
                <td>{{o.restaurant}}</td>
            </tr>
        </tbody>
    </table>
</div>