<div class="container mt-3">
    <h4>Ažuriraj podatke</h4>
    <div class="mb-3">
        Ime: {{logged.firstname}} <input type="text" class="form-control" [(ngModel)]="newFirstname" placeholder="Novo ime">        
    </div>
    <div class="mb-3">
        Prezime: {{logged.lastname}} <input type="text" class="form-control" [(ngModel)]="newLastname" placeholder="Novo prezime">
    </div>
    <div class="mb-3">
        Mejl: {{logged.mail}} <input type="text" class="form-control" [(ngModel)]="newMail" placeholder="Novo ime">
    </div>
    <div class="mb-3">
        Adresa: {{logged.address}} <input type="text" class="form-control" [(ngModel)]="newAddress" placeholder="Nova adresa">
    </div>
    <div class="mb-3">
        Kontakt telefon: {{logged.phone}} <input type="text" class="form-control" [(ngModel)]="newPhone" placeholder="Novi br. tel.">
    </div>
    <ng-container *ngIf='logged.type=="guest"'>
        <div class="mb-3">
            Br. kartice: {{logged.card}} <input type="text" class="form-control" [(ngModel)]="newCard" placeholder="Novi br. kartice">
        </div>
    </ng-container>
    <div class="mb-3">
        Profilna slika: <img [src]="logged.photo" alt="Photo?" class="img-fluid"><input type="file" class="form-control" (change)="handleFileInput($event)">
    </div>

    <button class="btn btn-primary" (click)="confirm()">Potvrdi izmene</button>
    <div class="mt-3">
        <p>{{message}}</p>
        <p>{{message2}}</p>
    </div>
</div>

