<div class="container mt-4">
    <h4>
        Neobrađene rezervacije
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Vreme</th>
                <th scope="col">Broj ljudi</th>
                <th scope="col">Dodatni zahtevi</th>
                <th scope="col">Zahtev postavio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of unprocessedReservations">
            
                <td>{{r.dateTime.split('T')[0]}} {{r.dateTime.split('T')[1]}}</td>
                <td>{{r.number}}</td>
                <td>{{r.description}}</td>
                <td>{{r.username}}</td>
                <td><button (click)="accept(r)" [disabled]="selectTable" [disabled]="disabled(r)" class="btn btn-primary">Prihvati</button></td>
                <td><button (click)="decline(r)" [disabled]="disabled(r)" [disabled]="selectTable" class="btn">Odbij</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="selectTable" class="container mt-4">
    Sto za:
    <select  [(ngModel)]="selectedTableId" (change)="approveReservation()">
        <option *ngFor="let t of acceptableTables" [value]="t.idT">{{t.numberSeats}} ljudi</option>
    </select>
</div>
<div class="container mt-5">
    <canvas id="canvas" width="700" height="500" style="border:1px solid #000;">
        Your browser does not support the HTML canvas tag.
    </canvas>
</div>

<div class="container mt-5">
    <form #form="ngForm" *ngIf="declineShow" (submit)="submit(form)">
        <input name="input" type="text" placeholder="Obavezan komentar" [(ngModel)]="declination" class="form-control"required>
        <button type="submit" class="btn" id="green">Potvrdi</button>
    </form>
</div>



<hr>
<div class="container mt-4">
    <h4>
        Moje rezervacije
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Vreme</th>
                <th scope="col">Broj ljudi</th>
                <th scope="col">Dodatni zahtevi</th>
                <th scope="col">Zahtev postavio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of myReservations">
            
                <td>{{r.dateTime.split('T')[0]}} {{r.dateTime.split('T')[1]}}</td>
                <td>{{r.number}}</td>
                <td>{{r.description}}</td>
                <td>{{r.username}}</td>
                <td *ngIf="checkHalfHour(r.dateTime)"><button (click)="didntCame(r)" class="btn">Nije se pojavio</button></td>
            </tr>
        </tbody>
    </table>
</div>
