<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fw-bold">Admin</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/changePass">Promena lozinke</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addWaiter">Dodaj konobara</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/addRestaurant">Dodaj restoran</a>
          </li>
        <li class="nav-item">
          <button (click)="logout()" class="btn">Izloguj se</button>
        </li>
      </ul>
    </div>
  </nav>

<hr>
<div class="container mt-4">
    <h4>
        Lista gostiju
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Korisničko ime</th>
                <th scope="col">Ime i prezime</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of guests">
                <td>{{user.username}}</td>
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td><button (click)="update(user.username)" class="btn">Ažuriraj podatke</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <h4>
        Lista konobara
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Korisničko ime</th>
                <th scope="col">Ime i prezime</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of waiters">
                <td>{{user.username}}</td>
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td><button (click)="update(user.username)" class="btn">Ažuriraj podatke</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <h4>
        Lista restorana
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">IdR</th>
                <th scope="col">Naziv</th>
                <th scope="col">Adresa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of allRestaurants">
                <td>{{r.id}}</td>
                <td>{{r.name}}</td>
                <td>{{r.address}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <h4>
        Zahtevi za registracijom gostiju
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Korisničko ime</th>
                <th scope="col">Mejl</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of registerRequests">
                <td>{{r.username}}</td>
            <td>{{r.mail}}</td>
            <td><button (click)="accept(r.username)" class="btn btn-primary">Prihvati</button></td>
            <td><button (click)="decline(r.username, r.mail)"class="btn btn-primary" id="decline">Odbij</button></td>
            </tr>
        </tbody>
    </table>
</div>

<hr>
<div class="container mt-5">
    <h6>Dodavanje jela u restoran</h6>
    <div class="mb-3">
        Naziv jela: <input type="text" class="form-control" [(ngModel)]="foodName" >        
    </div>
    <div class="mb-3">
        Cena: <input type="number" min="0" class="form-control" [(ngModel)]="foodPrice" >
    </div>
    <div class="mb-3">
        Sastojci: <input type="text" class="form-control" [(ngModel)]="ingredients" >        
    </div>
    <div class="mb-3">
        IdR: <input type="number" min="0" class="form-control" [(ngModel)]="foodidR" >
    </div>
    

    <button class="btn btn-primary" (click)="addFood()">Dodaj jelo</button>
</div>